<footer class="dark-background">
    <div class="container">
        ⓒ 2021. 숭실대학교 해커톤 세미콜론팀.
        <a href="/auth/signout">signout</a>
    </div>
</footer>
<script src="https://kit.fontawesome.com/02656a2617.js"></script>
<script src="/js/index.js"></script>
</body>
</html>