<%-include('./partials/header.ejs')%>

<section class="title">
    <img src="/img/logo_purple.png">
</section>
<section class="signin-section">
    <div class="container">
        <form action="/auth/signup" method="POST">
            <p>아이디</p>
            <input type="text" name="userId" required/>

            <p>이름</p>
            <input type="text" name="username" required/>

            <p>비밀번호</p>
            <input type="password" name="password" required/>

            <input type="submit" value="회원가입"/>
        </form>
    </div>
</section>

<%-include('./partials/footer.ejs')%>
