<%-include('./partials/header.ejs')%>

<h1>SignIn</h1>
<form action="/auth/signin" method="POST">
    <input type="text" name="id"/>
    <input type="password" name="password"/>
    <input type="submit" value="제출"/>
</form>


<%-include('./partials/footer.ejs')%>
