<%-include('./partials/header.ejs')%>

<section class="title">
    <img src="/img/logo_purple.png">
</section>
<section class="signin-section">
    <div class="container">
        <form action="/auth/signin" method="POST">
            <p>아이디</p>
            <input type="text" name="id" />

            <p>비밀번호</p>
            <input type="password" name="password" />

            <p></p>
            <input type="submit" value="로그인" class="submit-button" />

        </form>
    </div>
</section>


<%-include('./partials/footer.ejs')%>
