@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
      format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
      format('woff');
}

:root {
  --main-color: rgb(95, 49, 196);
  --dark-color: rgb(64, 45, 124);
  --light-color: rgba(95 49 196, 0.5);
  --deep-dark-color: rgb(84, 74, 78);
}

h1,
h2,
h3,
h4,
h5 {
  display: inline;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'LotteMartDream';
  font-size: 15px;
  line-height: 1.5em;
}

button {
  font-family: 'LotteMartDream';
  font-size: 15px;
  line-height: 1.5em;
}

form {
  width: 70vw;
  max-width: 300px;
}

.dark-background {
  background-color: var(--dark-color);
}

.title {
  height: 20vh;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  height: 30px;
}

input[type='submit']:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/********************** INDEX *********************/
.index-section {
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.index-section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.index-section .sub-container {
  height: 100%;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.index-section button {
  border-radius: 5px;
  width: 300;

  font-size: large;
  height: 60px;
  color: rgba(95, 49, 196);
  outline: none;
}

.index-section a {
  margin-top: 1em;
  color: white;
}

/********************** SIGNIN *********************/
.signin-section {
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.signin-section .container {
  min-height: 70vh;

  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.signin-section .title {
  text-align: center;
}

.signin-section p {
  color: var(--main-color);
}

.signin-section input[type='text'],
input[type='password'] {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 100%;
  height: 3em;
  padding-left: 1em;
}

.signin-section input[type='submit'] {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-top: 30px;

  background-color: var(--main-color);
  color: white;
}

/********************** QR Scanner *********************/

.qr-title {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border:1px solid red; */
}

.qr-title .container {
  max-width: 200;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  color: white;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}

.qr-scanner-section {
  height: 70vh;
}

.qr-scanner-section .container {
  height: 100%;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-scanner-section .container .sub-container {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.qr-scanner-section #canvas {
  z-index: 100;
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin-left: -250;
  margin-top: 40;
}

.qr-scanner-section img {
  width: 80vw;
  max-width: 300px;
  height: auto;

  position: relative;
  margin-left: -30;
}

/********************** QR Scanner *********************/
.qrcode-generator-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-scanner-section #qrcode {
  width: 150px;
  height: 150px;
}

.qrcode-generator-section .container {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/********************** MAP *********************/
.section-map {
  box-sizing: border-box;
}

.section-map #map {
  margin: 0;
  width: 100vw;
  outline: none;
  /* height: 60vh; */
  height: 100vh;
  border: 4px solid purple;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

.section-map-info {
  min-height: 40vh;
  display: none;
  /* border: 1px solid blue; */

  justify-content: center;
  align-items: center;
}

.section-map .container {
  position: sticky;
  bottom: 0;
  background-color: white;
  height: 30vh;
  /* border: 1px solid red; */
  /* min-width: 50vw; */

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.section-map .sub-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.market-info-leaf {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

/********************** ADMIN *********************/
.admin-section {
  min-height: 70vh;
  /* border: 1px solid red; */
  /* justify-content: center; */
}

.admin-section .container {
  margin-top: 2em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
}

.admin-section .warn {
  background-color: rgb(255, 0, 0);
  color: white;
}

.admin-section .sub-container {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--main-color);
  border-radius: 20px;
  margin-bottom: 1em;
  width: 80%;
  padding: 1em;
}

.admin-section .min-height {
  min-height: 70vh;
}

/********************** ERROR *********************/

.error-section {
}

.error-section .container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.error-section h1 {
  font-size: 36;
}

.error-section button {
  background: none;
  border: none;
  font-size: 20;
  text-decoration: underline;
}

/********************** FOOTER *********************/
footer {
  min-height: 10vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

footer .container {
  max-width: 300px;
  text-align: center;
}
